.title{
    color:white;
    width: 50%;
    margin-left: 450px;
    }

.titulos{
    color: white;
    width: 40%;
    margin-left: 1px;
    border: 4px solid brown;
}

.textos{  
color: blue;
    width: 40%;
    margin-left: 1px;
    border: 4px solid brown;
}

.body{
background-color: #333;
border: 10px solid purple;
padding: 5px;
width:1500px;
height: 1500 px;
text-align: justify;
}

body {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto en blanco */
    text-align: center; /* Centrar el contenido */
}

.body {
    max-width: 800px; /* Ancho máximo del contenido para centrarlo en la página */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
}
