<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if es_estudiante or es_admin%}
        <h1>Bienvenido {{ user.username }} al área de Estudiantes</h1>
        <a href="http://127.0.0.1:8000/registro/">Registros</a>
        <a href="http://127.0.0.1:8000/">Inicio</a>
        
    {% else %}
        <h1>No tienes permisos para acceder a esta página</h1>
    {% endif %}
    <a href="{% url 'logout' %}">Cerrar sesión</a>
</body>
</html>